:root {
	--main-color: #2196f3;
	--main-color-alt: #1787e0;
	--main-transition: 0.3s;
	--main-padding-top: 100px;
	--main-padding-bottom: 100px;
	--section-background: #ececec;
}
* {
	box-sizing: border-box;
}
body {
	font-family: "Cairo", sans-serif;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.speacial-heading {
	font-size: 30px;
	font-weight: 700;
	width: fit-content;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	border: 2px solid black;
	position: relative;
	margin-bottom: 80px;
}
.speacial-heading::before,
.speacial-heading::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	background-color: var(--main-color);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.speacial-heading::before {
	left: -30px;
}
.speacial-heading::after {
	right: -30px;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
header {
	background-color: white;
	box-shadow: 0 0 10px #ddd;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
@media (max-width: 767px) {
	header .container {
		flex-direction: column;
	}
}
header .logo {
	color: var(--main-color);
	font-size: 26px;
	font-weight: bold;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 767px) {
	header .logo {
		height: 50px;
	}
}
header .main {
	display: flex;
	align-items: center;
}
header .main a {
	position: relative;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	text-transform: capitalize;
	color: black;
	font-size: 18px;
	transition-duration: var(--main-transition);
	overflow: hidden;
}
@media (max-width: 767px) {
	header .main a {
		padding: 0 10px;
		font-size: 14px;
		height: 40px;
	}
}
header .main a::before {
	position: absolute;
	content: "";
	left: -100%;
	top: 0;
	background-color: var(--main-color);
	width: 100%;
	height: 5px;
	transition-duration: var(--main-transition);
}
header .main a:hover {
	color: var(--main-color);
	background-color: #fafafa;
}
header .main a:hover::before {
	left: 0;
}
header .mega-menu {
	position: absolute;
	display: none;
}
.landing {
	position: relative;
}
.landing::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	left: 0;
	top: -30px;
	z-index: -1;
	transform: skewY(-6deg);
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	-o-transform: skewY(-6deg);
	transform-origin: top left;
}
.landing .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: calc(100vh - 80px);
	padding-bottom: 100px;
}
@media (max-width: 991px) {
	.landing .container {
		justify-content: center;
		text-align: center;
	}
}
.landing .text {
	color: black;
	max-width: 500px;
	flex: 1;
}
.landing .text h1 {
	font-weight: bold;
	text-transform: capitalize;
	margin: 0;
	font-weight: 800;
	font-size: 35px;
}
.landing .text p {
	color: #666;
	line-height: 2;
	font-size: 23px;
}
.landing img {
	width: 600px;
	max-width: 100%;
}
@media (max-width: 991px) {
	.landing img {
		display: none;
	}
}
.landing .go-down {
	color: var(--main-color);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.articles {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.articles .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
}
.articles .a-box {
	box-shadow: 0 2px 15px rgba(0 0 0 /10%);
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition-duration: var(--main-transition);
}
.articles .a-box:hover {
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	box-shadow: 0 2px 15px rgba(0 0 0 /20%);
}
.articles img {
	width: 100%;
}
.articles .text {
	padding-left: 20px;
}
.articles .text p {
	color: #777;
	line-height: 1.7;
}
.articles a {
	padding: 20px;
	display: block;
	color: var(--main-color);
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	border-top: 1px solid #eee;
}
.gallary {
	background-color: var(--section-background);
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}
.gallary .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.gallary .box {
	box-shadow: 0 2px 15px rgba(0 0 0 /10%);
	background-color: white;
	padding: 15px;
}
.gallary img {
	max-width: 100%;
	transition-duration: var(--main-transition);
}
.features {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.features .box {
	box-shadow: 0 2px 15px rgba(0 0 0 /10%);
	border: 1px solid #ccc;
	text-align: center;
}
.features img {
	width: 100%;
	position: relative;
}
.features .text {
	padding: 25px;
}
.features .text h1 {
	text-transform: capitalize;
	font-size: 35px;
	position: relative;
	width: fit-content;
	margin: 0px auto;
}
.features .text h1::after {
	content: "";
	position: absolute;
	width: calc(100% - 30px);
	height: 5px;
	left: 50%;
	bottom: -15px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.features .quality h1::after {
	background-color: #f44036;
}
.features .time h1::after {
	background-color: #009688;
}
.features .passion h1::after {
	background-color: #03a9f4;
}
.features .text p {
	color: #777;
	line-height: 2;
	font-size: 20px;
	margin: 30px 0;
}
.features .text a {
	display: block;
	margin: 20px auto;
	padding: 10px 25px;
	width: fit-content;
	border: 3px solid;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	transition-duration: var(--main-transition);
}
.features .quality a {
	border-color: #f44036;
	color: #f44036;
}
.features .time a {
	border-color: #009688;
	color: #009688;
}
.features .passion a {
	border-color: #03a9f4;
	color: #03a9f4;
}
.features .box:hover a {
	color: white;
}
.testimonials {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	background-color: var(--section-background);
}
.testimonials .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.testimonials .container .box {
	background-color: white;
	box-shadow: 0 2px 15px rgba(0 0 0 /10%);
	position: relative;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 15px;
}
.testimonials img {
	width: 100px;
	height: 100px;
	position: absolute;
	border: 10px solid var(--section-background);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	right: -10px;
	top: -17px;
}
.testimonials .box h3 {
	margin: 0;
}
.testimonials .box span {
	margin: 10px 0;
	display: block;
	color: #777;
}
.testimonials i {
	color: gold;
}
.testimonials .box p {
	color: #777;
	line-height: 1.7;
	margin: 0;
}
